
<h2>Catalogue</h2>
<ul id="catalog">
    <li><a href="?p=product_list">Toutes les categories</a></li>
    <li><a href="?p=product_list&category=5">Salle de Bain</a></li>
    <li><a href="?p=product_list&category=4">Chambre Enfant</a></li>
    <li><a href="?p=product_list&category=3">Chambre Adulte</a></li>
    
    <li><a href="?p=product_list&category=1">Jardin</a></li>
    <li><a href="?p=product_list&category=2">Salon</a></li>
    <li><a href="?p=product_list&category=6">Cuisine</a></li>
</ul>