.nav {
    position: fixed;
    max-height: 10vh;
    width: 100vw;
    background-color: #000000;
    color: #ffffff;
    display: inline-block;
}

.nav ul{
    width: 200vw;
    display: inline-block;
    text-align: center;
    font-size: 3vh;
    margin-left: 10vw;
}
.nav ul>li{
    display: inline-block;
    line-height: 10vh;
    min-width: 10vw;
}
